* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.navBar {
  background-color: rgb(236, 46, 46);
  position: fixed;
  top: 0;
  left: 0;
  height: 68px;
  width: 100%;
  z-index: 10;
  display: flex;
}

.game {
  display: flex;
  position: absolute;
  left: 27%;
  top: 4px;
  font-size: 35px;
  width: 200px;
  justify-content: space-between;
  color: black;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 11px;
  border: 2px black solid;
  border-radius: 10px;
  z-index: 10;
}

/* .ga {
} */
.btnMenu {
  position: absolute;
  right: 20px;
  display: none;
  color: white;
  top: 20px;
  font-size: 30px;
  cursor: pointer;
}

.search {
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
  position: fixed;
  height: 88vh;
  width: 25vw;
  top: 65px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px !important;
  background-color: white;
  /* padding-top: 20px; */
}
::-webkit-scrollbar-thumb {
  height: 40px;
  border-radius: 20px;
  background-color: rgb(172, 24, 24);
}

.searching {
  margin-left: 15px;
}

.searching .delete {
  z-index: 9;
  display: none;
}

.btnSearch {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}

.recherche {
  background-color: black;
  border: none;
  border-radius: 10px;
  width: 85%;
  justify-self: center;
  margin-top: 20px;
  height: 30px;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 10px;
  border-bottom: 3px white solid;
  border-left: 3px white solid;
  font-size: 18px;
  color: white;
}
input:focus {
  outline: 0;
}

.article {
  margin-left: 20px;
  margin-top: 20px;
}

.title {
  display: flex;
}

.functions ul,
li,
a {
  margin-left: 3px;
  text-decoration: none;
  list-style-type: none;
  margin-top: 7px;
  font-size: 20px;
  box-shadow: none;
  color: white;
  margin-bottom: 17px;
}
.functions ul {
  border-top: 1px white dashed;
  border-left: 1px white dashed;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: -23px;
}

.functions button {
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  margin-left: 12px;
  text-decoration: none;
  list-style-type: none;
  margin-top: 15px;
  font-size: 20px;
}
/* .question-text p {
  margin-bottom: 0;
} */
/* hide text */
.functions {
  display: none;
}
.moins {
  display: none;
}
.cache {
  display: none;
}
.btn {
  border: transparent;
  cursor: pointer;
  margin-right: 5px;
  background-color: transparent;
  color: white;
}

.menu {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
}
.doc {
  position: absolute;
  background-color: black;
  height: 88vh;
  overflow: scroll;
  left: 25vw;
  top: 65px;
  width: 75vw;
  color: white;
  z-index: 1;
  overflow-x: hidden;
}

.logo {
  cursor: pointer;
  font-size: 60px;
  margin-left: 10px;
  margin-right: 20px;
}

.separeLogo {
  width: 3px;
  height: 60px;
  margin-top: 3px;
  background-color: black;
  border-radius: 20px;
}

.version {
  margin-top: 20px;
  margin-left: 20px;
}

.docSubject h1 {
  color: white;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 100;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
.docSubject .h1 {
  height: 80px;
}

.subject {
  height: 60px;
  color: black;
  display: flex;
  font-weight: 600;
  align-items: center;
  background-color: lightgrey;
  padding: 20px;
}
.subject p {
  font-family: sans-serif;
  margin-left: 50px;
  font-size: 20px;
  color: black;
}

.desc {
  display: flex;
  flex-direction: column;
}
.desc h3,
p {
  margin-left: 30px;
}

.desc img {
  min-height: 120px;
  justify-self: center;
}

.displayBtn {
  display: block;
}

.display {
  display: block;
}

@media screen and (max-width: 780px) {
  .search {
    display: none;
  }
  .doc {
    width: 100vw;
    left: 0;
  }
  .btnMenu {
    display: block;
  }
  .showMenu {
    display: block;
    position: fixed;
    width: 200px;

    right: 0;
    z-index: 40;
  }
  .search {
    top: 65px;
    border-left: 2px solid white;
    border-radius: 10px;
    border-right: transparent;
    z-index: 9;
    background-color: black;
  }
}
